@model GetImagesFromDatabase.Models.getImageFromID
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên tàu</th>
            <th scope="col">Số chuyến</th>
            <th scope="col">Ngày đến</th>
            <th scope="col">MasterBill</th>
            <th scope="col">Cảng hạ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> <a href="/SearchImage/XemAnh/?ID=31262">31262</a></td>


            <td>Bull</td>
            <td>Chuyến 1</td>
            <td>9/9/2021</td>
            <td>1</td>
            <td>Đình Vũ</td>
        </tr>
        <tr>
            <td> <a href="/SearchImage/XemAnh/?ID=31276">31276</a></td>
            <td>Bull</td>
            <td>Chuyến 2</td>
            <td>9/9/2021</td>
            <td>1</td>
            <td>Đình Vũ</td>
        </tr>
        <tr>
            <td> <a href="/SearchImage/XemAnh/?ID=31290">31290</a></td>
            <td>Bull</td>
            <td>Chuyến 3</td>
            <td>9/9/2021</td>
            <td>1</td>
            <td>Đình Vũ</td>
        </tr>
        <tr>
            <td> <a href="/SearchImage/XemAnh/?ID=31182">31182</a></td>
            <td>Bull</td>
            <td>Chuyến 3</td>
            <td>9/9/2021</td>
            <td>1</td>
            <td>Đình Vũ</td>
        </tr>
    </tbody>
</table>

